#toplevel_page_slack_liveblog_channels .wp-menu-image img {
  height: 1rem;
  width: 1rem;
  padding: 0;
}

#toplevel_page_slack_liveblog_channels .wp-menu-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slack-liveblog-channels-list-refresh-interval {
  width: 5rem;
}

.slack-liveblog-button {
  padding: 0 1.5rem;
  align-items: center;
  color: #fff;
  background-color: #4A154B;
  border: 0;
  border-radius: 2rem;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.slack-liveblog-pointer {
  cursor: pointer;
}

.slack-liveblog-button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.slack-liveblog-button:hover,
.slack-liveblog-button:focus,
.slack-liveblog-button:active {
  color: #fff;
}
